::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E0DFDF;
}

.ml47 {
    margin-left: 47px;
}

.w60 {
    width: 60% !important;
}

.mt16 {
    margin-top: 16px !important;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
}

/* sider */
.ant-layout {
    height: 100%;
    width: 100%;
}

.ant-layout-sider {
    border-right: 2px solid #efefef;
}

.ant-layout-sider-children {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-channel-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 8px 20px 8px 12px;
    font-size: 22px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    height: 91.5%;
}

.channel-input-search {
    margin: 0 8px;
    height: 44px;
}

.channel-input-search input {
    border: none;
    border-radius: 10px;
    background-color: #f4f4f4;
    height: inherit;
    padding: 8px;
    width: 100%;
}

.channel-tool {
    color: #069255;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 6px 8px;
}

.channel-tool-create {
    cursor: pointer;
}

.channel-tool-actions {
    cursor: pointer;
}

.channel-list-wrapper {
    padding-left: 6px;
    overflow-y: scroll;
}

.channel-list-wrapper.loading {
    opacity: 0.5;
}

.channel-list-item {
    display: flex;
    padding: 8px;
    border-top: 1px solid hsla(0, 0%, 91%, .4588235294117647);
}

.channel-list-item:hover {
    background-color: #F1FAFE;
}

.channel-list-item.active {
    background-color: #E4F5FE;
}

.channel-avatar-container {
    min-width: 15%;
    max-width: 15%;
    height: 100%;
}

.channel-avatar {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    background-size: cover;
    flex: 1;
}

.avatar-group {
    position: relative;
    margin: 2px;
}

.avatar-group img {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(-40deg);
    font-size: 12.8px;
}

.avatar {
    transform: rotate(-45deg);
}

.group-avatar {
    display: flex;
    position: relative;
}

.group {
    align-content: center;
}

.number_participants {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    position: absolute;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.397);
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 #eee;
    min-width: 40px;
    height: 40px;
    margin-top: 15%;

}

.channel_item__unread .channel-name {
    font-weight: 600;
}

.channel_item__unread .channel-last-msg {
    color: #000;
    font-weight: 500;
}

.channel_item__unread .channel--time {
    color: #000;
}

.channel-content {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    width: 85%;
}

.channel-title {
    display: flex;
    justify-content: space-between;
}

.channel-name {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.channel-last-msg {
    color: #666;
    display: flex;
    justify-content: space-between;
}

.channel-last-msg a {
    color: #14a05b;
}

.channel-text {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    max-width: 216px;
    height: 24px;
    white-space: nowrap;
}

.channel-text span {
    width: fit-content;
    display: inline-block;
}

.channel-text p {
    margin: 0;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.channel-time {
    font-size: 13px;
}

/* chat-view */
.ant-layout>.ant-layout {
    flex-direction: row;
    position: relative;
    width: 100%;
}

.chat-view {
    height: 100%;
    display: flex;
    flex: 4;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

.loading :not(:first-child) {
    opacity: 0.5;
}

.loading {
    position: relative;

}

.chat-spinner {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

i.ant-spin-dot-item {
    background-color: #14a05b;
}

.ant-page-header {
    border-bottom: 1px solid rgb(235, 237, 240);
    padding: 0 20px;
}

.ant-page-header-heading-left {
    margin: 10px 0 8px;
    align-items: baseline;
}

.ant-page-header-heading-title {
    font-weight: 700;
}

.ant-page-header-heading-extra {
    display: flex;
}

.ant-layout-content {
    overflow: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 6px;
}

.scroll-start-at-top {
    flex: 1 1 0%;
}

.stopScoll {
    overflow: hidden;
}

.msg-chain-time {
    color: hsla(0, 0%, 55.7%, .8);
    font-size: 12px;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 5px 24px 5px;
}

.message-container {
    display: flex;
    margin: 0px 0 2px 24px;
}

.message-container.self {
    flex-direction: row-reverse;
    margin-right: 16px;
}

.message-avt-container {
    margin: 9px 12px 0 0;
}

.message-avt {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-size: cover;
    flex: 1;
}

.message-content {
    max-width: 56%;
    display: flex;
    flex-direction: column;
}


.message-sender {
    color: #676767;
    font-size: 12px;
}

.message-attachments {
    display: grid;
    grid-template-columns: auto auto auto;
}

.message-attachments-item {
    max-width: 450px;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.message-attachments-item img {
    max-width: 450px;
    max-height: 300px;
    min-height: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    object-fit: cover;
}

.ant-image {
    height: 100%;
    margin: 0 2px 2px 0;
    object-fit: cover;
    width: auto;
}

.message-attachments-item video {
    width: auto;
    height: 250px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 0.5px solid #ccc;
}

.message-text p {
    margin-bottom: 0;
}

.message-text,
.message-forward {
    background-color: #F0EFF4;
    border-radius: 10px;
    max-width: 100%;
    padding: 6px 12px;
    width: fit-content;
    word-wrap: break-word;
}

.message-text a,
.message-forward a {
    text-decoration: underline;
}

.message-text.message_delete {
    color: #a5a5a5 !important;
    background-color: #fff !important;
    border: 0.5px solid #ccc !important;
}

.message-forward.self,
.message-text.self {
    background-color: #069255;
    color: #fff;
    align-self: end;
}

.message-text a {
    color: #14a05b;
}

.message-forward a {
    color: #14a05b;
}

.message-forward.self a,
.message-text.self a {
    color: #fff;
}

.message-forward-icon {
    opacity: .5;
}

.message-forward-des {
    padding: 4px 0 4px 16px;
    border-bottom: 1px solid #ccc;
}

.message-forward-info {
    opacity: .5;
    font-size: 12px;
    font-style: italic;
}

.message-forward-text {
    padding-top: 4px;
}

.ant-layout-footer {
    background-color: #fff;
    border-top: 0.5px solid rgb(235, 237, 240);
    padding: 6px 24px;
}

.footer-expand {
    display: flex;
}

.footer-expand .footer-preview-img {
    margin: 4px 16px 12px 0;
}

.footer-preview-img {
    width: 104px;
    height: 104px;
    position: relative;
}

.footer-preview-img img {
    width: 104px;
    height: 104px;
    object-fit: cover;
    opacity: 0.9;
}

.footer-preview-img:hover {
    opacity: 0.7;
}

.footer-preview-img span {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 10;
}



.footer-preview-img:hover span {
    visibility: visible;
}

.delete-preview {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer-input {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer-input .message-more {
    background-color: transparent;
    border: none;
    border-radius: 40px;
    color: rgb(65, 155, 98);
    font-size: xx-large;
    margin-right: 8px;
}

.menu-footer {
    align-items: center;
    background-color: #f5f4f4;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px 0 0;
    width: 90%;
}

.menu-footer>input {
    background-color: transparent;
    border: none;
    padding: 12px 15px;
    height: auto;
    width: 90%;
}

.menu-footer>input:focus {
    outline: none;
}

.menu-footer-icon {
    height: 28px;
}

.menu-footer-icon .upload-img {
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 10px;
    color: #14a05b;
    display: flex;
    font-size: 28px;
    cursor: pointer;
}

.menu-footer-icon .upload-img:focus {
    outline: none;
}

.ant-layout-footer .send-btn {
    background-color: transparent;
    border: none;
    border-radius: 40px;
    font-size: x-large;
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.send-btn:focus {
    outline: none;
}

.send-btn.active {
    color: rgb(65, 155, 98) !important;
}

.chatinfobtn {
    display: none !important;
}

/* Typing css */
.typing {
    display: flex;
    margin: 0px 0 10px 24px;
    position: relative;
    opacity: 0.5;
    filter: alpha(opacity=100);
}

.typing-text {
    margin-left: 15px;
    margin-top: 8px;
}